{
  "openapi": "3.1.0",
  "info": {
    "title": "OPS Proxy API \u2014 AI Council",
    "version": "1.0.0",
    "description": "Slim OPS Proxy spec for GPT AI Council, including workflow governance collections used by DSL and WCR operations. Full spec is available at /openapi.json."
  },
  "servers": [
    {
      "url": "https://ops.incomexsaigoncorp.vn",
      "description": "OPS Proxy (Directus via Nginx)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/items/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "List tasks with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get task by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update task content fields",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Task status"
                  },
                  "content_checklist": {
                    "type": "string",
                    "description": "Checklist content (markdown)"
                  },
                  "content_plan": {
                    "type": "string",
                    "description": "Plan content"
                  },
                  "content_reports": {
                    "type": "string",
                    "description": "Reports content"
                  },
                  "content_prompt": {
                    "type": "string",
                    "description": "Prompt content"
                  },
                  "content_targets": {
                    "type": "string",
                    "description": "Targets content"
                  },
                  "content_rules": {
                    "type": "string",
                    "description": "Rules content"
                  },
                  "content_test": {
                    "type": "string",
                    "description": "Test content"
                  },
                  "content_verify": {
                    "type": "string",
                    "description": "Verify content"
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description"
                  },
                  "checklist_version": {
                    "type": "integer",
                    "description": "Checklist version number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/task_comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List task comments",
        "description": "List task comments with optional filtering by task_id, agent_type, tab_scope.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "task_id": {
                            "type": "integer"
                          },
                          "content": {
                            "type": "string"
                          },
                          "agent_type": {
                            "type": "string"
                          },
                          "tab_scope": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a task comment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string"
                  },
                  "agent_type": {
                    "type": "string",
                    "description": "Agent identifier: gpt, claude, codex, gemini, claude_code"
                  },
                  "tab_scope": {
                    "type": "string",
                    "description": "Tab: discussion, checklist, reports, targets, rules, prompt, test, verify, plan"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "task_id",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "content": {
                          "type": "string"
                        },
                        "agent_type": {
                          "type": "string"
                        },
                        "tab_scope": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/task_comments/{id}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get comment by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single comment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "content": {
                          "type": "string"
                        },
                        "agent_type": {
                          "type": "string"
                        },
                        "tab_scope": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateComment",
        "summary": "Update a task comment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string"
                  },
                  "agent_type": {
                    "type": "string",
                    "description": "Agent identifier: gpt, claude, codex, gemini, claude_code"
                  },
                  "tab_scope": {
                    "type": "string",
                    "description": "Tab: discussion, checklist, reports, targets, rules, prompt, test, verify, plan"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "task_id",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "content": {
                          "type": "string"
                        },
                        "agent_type": {
                          "type": "string"
                        },
                        "tab_scope": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete a task comment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/items/ai_tasks": {
      "get": {
        "operationId": "listAiTasks",
        "summary": "List AI tasks",
        "description": "List AI agent job queue items.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "assigned_agent": {
                            "type": "string"
                          },
                          "work_type": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "integer"
                          },
                          "result_summary": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAiTask",
        "summary": "Create AI task for agent dispatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Task name (required)"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending",
                      "in_progress",
                      "completed",
                      "failed"
                    ],
                    "default": "draft"
                  },
                  "assigned_agent": {
                    "type": "string",
                    "description": "Agent to assign: claude_code, codex, gpt, gemini"
                  },
                  "agent_role": {
                    "type": "string",
                    "description": "Agent role for this task"
                  },
                  "prompt_payload": {
                    "type": "string",
                    "description": "Task instructions/prompt"
                  },
                  "work_type": {
                    "type": "string",
                    "description": "Type of work"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Parent task reference"
                  },
                  "max_retries": {
                    "type": "integer",
                    "description": "Maximum retry attempts",
                    "default": 3
                  }
                },
                "required": [
                  "name",
                  "assigned_agent",
                  "prompt_payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AI task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "assigned_agent": {
                          "type": "string"
                        },
                        "work_type": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "result_summary": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/ai_tasks/{id}": {
      "get": {
        "operationId": "getAiTask",
        "summary": "Get AI task by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single AI task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "assigned_agent": {
                          "type": "string"
                        },
                        "work_type": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "result_summary": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAiTask",
        "summary": "Update an AI task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "result_summary": {
                    "type": "string"
                  },
                  "assigned_agent": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AI task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "assigned_agent": {
                          "type": "string"
                        },
                        "work_type": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "result_summary": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List blog posts",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create a blog post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/posts/{id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get post by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Update a blog post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/pages": {
      "get": {
        "operationId": "listPages",
        "summary": "List pages",
        "description": "List website pages with optional filtering.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "blocks": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date_updated": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/navigation": {
      "get": {
        "operationId": "listNavigation",
        "summary": "List navigation menus",
        "description": "List navigation menus (main, footer).",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of navigation menus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/globals": {
      "get": {
        "operationId": "listGlobals",
        "summary": "List global settings",
        "description": "List global site settings (branding, SEO, social links).",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of global settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "social_links": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "og_image": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List workflows (read-only)",
        "description": "List BPMN workflows with optional filtering by task_id, status.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "filter[task_id][_eq]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by task ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Max items"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/task_checkpoints": {
      "get": {
        "operationId": "listTaskCheckpoints",
        "summary": "List task checkpoints",
        "description": "List checkpoints for a task. Filter by task_id, layer, status.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "filter[task_id][_eq]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by task ID"
          },
          {
            "name": "filter[layer][_eq]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "L0",
                "L1",
                "L2"
              ]
            },
            "description": "Filter by tier"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Max items"
          }
        ],
        "responses": {
          "200": {
            "description": "List of checkpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTaskCheckpoint",
        "summary": "Create a task checkpoint",
        "description": "Create a new checkpoint for a task.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "integer"
                  },
                  "checkpoint_key": {
                    "type": "string"
                  },
                  "layer": {
                    "type": "string",
                    "enum": [
                      "L0",
                      "L1",
                      "L2"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "passed",
                      "failed",
                      "skipped"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created checkpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/items/workflow_steps": {
      "get": {
        "operationId": "listWorkflowSteps",
        "summary": "List workflow DSL steps",
        "description": "List workflow steps by workflow_id and sort_order.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "filter[workflow_id][_eq]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by workflow ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max items"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowStep"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflowStep",
        "summary": "Create workflow DSL step",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowStep"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created workflow step",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowStep"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/workflow_steps/{id}": {
      "get": {
        "operationId": "getWorkflowStep",
        "summary": "Get workflow DSL step",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Single workflow step",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowStep"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateWorkflowStep",
        "summary": "Update workflow DSL step",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowStep"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated workflow step",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowStep",
        "summary": "Delete workflow DSL step",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workflow step deleted"
          }
        }
      }
    },
    "/items/workflow_step_relations": {
      "get": {
        "operationId": "listWorkflowStepRelations",
        "summary": "List workflow DSL relations",
        "description": "List step relations by workflow_id and relation_type.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "filter[workflow_id][_eq]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by workflow ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max items"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow relations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowStepRelation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflowStepRelation",
        "summary": "Create workflow DSL relation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowStepRelation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created workflow relation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/items/workflow_step_relations/{id}": {
      "get": {
        "operationId": "getWorkflowStepRelation",
        "summary": "Get workflow DSL relation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Single workflow relation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowStepRelation"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateWorkflowStepRelation",
        "summary": "Update workflow DSL relation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowStepRelation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated workflow relation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowStepRelation",
        "summary": "Delete workflow DSL relation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workflow relation deleted"
          }
        }
      }
    },
    "/items/block_library": {
      "get": {
        "operationId": "listBlockLibrary",
        "summary": "List workflow blocks",
        "description": "List reusable workflow blocks by status and category.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "filter[status][_eq]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "deprecated"
              ]
            },
            "description": "Filter by block status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max items"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlockLibraryItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/block_library/{id}": {
      "get": {
        "operationId": "getBlockLibraryItem",
        "summary": "Get workflow block",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Single workflow block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BlockLibraryItem"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/workflow_change_requests": {
      "get": {
        "operationId": "listWorkflowChangeRequests",
        "summary": "List workflow change requests",
        "description": "List WCR items by workflow_id and status.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "filter[workflow_id][_eq]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by workflow ID"
          },
          {
            "name": "filter[status][_eq]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "ai_reviewing",
                "needs_clarification",
                "ready_for_approval",
                "approved",
                "rejected",
                "applied"
              ]
            },
            "description": "Filter by governance status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max items"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow change requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowChangeRequest"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflowChangeRequest",
        "summary": "Create workflow change request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowChangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created workflow change request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/items/workflow_change_requests/{id}": {
      "get": {
        "operationId": "getWorkflowChangeRequest",
        "summary": "Get workflow change request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Single workflow change request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowChangeRequest"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateWorkflowChangeRequest",
        "summary": "Update workflow change request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowChangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated workflow change request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/items/task_checkpoints/{id}": {
      "patch": {
        "operationId": "updateTaskCheckpoint",
        "summary": "Update a task checkpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "passed",
                      "failed",
                      "skipped"
                    ]
                  },
                  "verified_by": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated checkpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "OPS Proxy API key (same key as Agent Data)"
      }
    },
    "schemas": {
      "WorkflowStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "workflow_id": {
            "type": "integer"
          },
          "step_key": {
            "type": "string"
          },
          "step_type": {
            "type": "string",
            "enum": [
              "action",
              "agent_call",
              "condition",
              "wait_for_event",
              "human_checkpoint",
              "loop",
              "parallel"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "actor_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "user",
              "claude_ai",
              "claude_code",
              "gemini",
              "gpt",
              "system",
              "orchestrator",
              "codex"
            ]
          },
          "config": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "position_x": {
            "type": "number"
          },
          "position_y": {
            "type": "number"
          },
          "block_id": {
            "type": "integer",
            "nullable": true
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "WorkflowStepRelation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "workflow_id": {
            "type": "integer"
          },
          "from_step_id": {
            "type": "integer"
          },
          "to_step_id": {
            "type": "integer"
          },
          "relation_type": {
            "type": "string",
            "enum": [
              "sequence",
              "conditional",
              "parallel_fork",
              "parallel_join",
              "loop_back"
            ]
          },
          "condition_expression": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "BlockLibraryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "block_key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "review",
              "approval",
              "dispatch",
              "validation",
              "notification",
              "custom"
            ]
          },
          "template_steps": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "template_relations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "input_params": {
            "type": "object",
            "additionalProperties": true
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "deprecated"
            ]
          }
        }
      },
      "WorkflowChangeRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "workflow_id": {
            "type": "integer"
          },
          "change_type": {
            "type": "string",
            "enum": [
              "add_step",
              "modify_step",
              "remove_step",
              "reorder",
              "add_block",
              "restructure"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "position_context": {
            "type": "string",
            "nullable": true
          },
          "suggested_actor_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "user",
              "claude_ai",
              "claude_code",
              "gemini",
              "gpt",
              "system",
              "orchestrator",
              "codex"
            ]
          },
          "suggested_block_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "ai_reviewing",
              "needs_clarification",
              "ready_for_approval",
              "approved",
              "rejected",
              "applied"
            ]
          },
          "schema_warnings": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "dsl_diff": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "approved_by": {
            "type": "string",
            "nullable": true
          },
          "applied_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "task_id": {
            "type": "integer",
            "nullable": true
          }
        }
      }
    }
  }
}
