{
  "openapi": "3.1.0",
  "info": {
    "title": "OPS Proxy API — AI Council",
    "version": "1.0.0",
    "description": "Slim OPS Proxy spec for GPT AI Council (19 operations, 7 collections). Full spec at /openapi.json (105 operations)."
  },
  "servers": [
    {
      "url": "https://ops.incomexsaigoncorp.vn",
      "description": "OPS Proxy (Directus via Nginx)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/items/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "List tasks with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get task by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update task content fields",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Task status"
                  },
                  "content_checklist": {
                    "type": "string",
                    "description": "Checklist content (markdown)"
                  },
                  "content_plan": {
                    "type": "string",
                    "description": "Plan content"
                  },
                  "content_reports": {
                    "type": "string",
                    "description": "Reports content"
                  },
                  "content_prompt": {
                    "type": "string",
                    "description": "Prompt content"
                  },
                  "content_targets": {
                    "type": "string",
                    "description": "Targets content"
                  },
                  "content_rules": {
                    "type": "string",
                    "description": "Rules content"
                  },
                  "content_test": {
                    "type": "string",
                    "description": "Test content"
                  },
                  "content_verify": {
                    "type": "string",
                    "description": "Verify content"
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description"
                  },
                  "checklist_version": {
                    "type": "integer",
                    "description": "Checklist version number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/task_comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List task comments",
        "description": "List task comments with optional filtering by task_id, agent_type, tab_scope.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "task_id": {
                            "type": "integer"
                          },
                          "content": {
                            "type": "string"
                          },
                          "agent_type": {
                            "type": "string"
                          },
                          "tab_scope": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a task comment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string"
                  },
                  "agent_type": {
                    "type": "string",
                    "description": "Agent identifier: gpt, claude, codex, gemini, claude_code"
                  },
                  "tab_scope": {
                    "type": "string",
                    "description": "Tab: discussion, checklist, reports, targets, rules, prompt, test, verify, plan"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "task_id",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "content": {
                          "type": "string"
                        },
                        "agent_type": {
                          "type": "string"
                        },
                        "tab_scope": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/task_comments/{id}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get comment by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single comment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "content": {
                          "type": "string"
                        },
                        "agent_type": {
                          "type": "string"
                        },
                        "tab_scope": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateComment",
        "summary": "Update a task comment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string"
                  },
                  "agent_type": {
                    "type": "string",
                    "description": "Agent identifier: gpt, claude, codex, gemini, claude_code"
                  },
                  "tab_scope": {
                    "type": "string",
                    "description": "Tab: discussion, checklist, reports, targets, rules, prompt, test, verify, plan"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "task_id",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "content": {
                          "type": "string"
                        },
                        "agent_type": {
                          "type": "string"
                        },
                        "tab_scope": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete a task comment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/items/ai_tasks": {
      "get": {
        "operationId": "listAiTasks",
        "summary": "List AI tasks",
        "description": "List AI agent job queue items.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "assigned_agent": {
                            "type": "string"
                          },
                          "work_type": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "integer"
                          },
                          "result_summary": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAiTask",
        "summary": "Create AI task for agent dispatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Task name (required)"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending",
                      "in_progress",
                      "completed",
                      "failed"
                    ],
                    "default": "draft"
                  },
                  "assigned_agent": {
                    "type": "string",
                    "description": "Agent to assign: claude_code, codex, gpt, gemini"
                  },
                  "agent_role": {
                    "type": "string",
                    "description": "Agent role for this task"
                  },
                  "prompt_payload": {
                    "type": "string",
                    "description": "Task instructions/prompt"
                  },
                  "work_type": {
                    "type": "string",
                    "description": "Type of work"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Parent task reference"
                  },
                  "max_retries": {
                    "type": "integer",
                    "description": "Maximum retry attempts",
                    "default": 3
                  }
                },
                "required": [
                  "name",
                  "assigned_agent",
                  "prompt_payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AI task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "assigned_agent": {
                          "type": "string"
                        },
                        "work_type": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "result_summary": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/ai_tasks/{id}": {
      "get": {
        "operationId": "getAiTask",
        "summary": "Get AI task by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single AI task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "assigned_agent": {
                          "type": "string"
                        },
                        "work_type": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "result_summary": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAiTask",
        "summary": "Update an AI task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "result_summary": {
                    "type": "string"
                  },
                  "assigned_agent": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AI task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "assigned_agent": {
                          "type": "string"
                        },
                        "work_type": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "integer"
                        },
                        "result_summary": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List blog posts",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create a blog post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/posts/{id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get post by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Single post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Update a blog post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/pages": {
      "get": {
        "operationId": "listPages",
        "summary": "List pages",
        "description": "List website pages with optional filtering.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for descending (e.g. -date_created)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "blocks": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date_updated": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/navigation": {
      "get": {
        "operationId": "listNavigation",
        "summary": "List navigation menus",
        "description": "List navigation menus (main, footer).",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directus filter as JSON object (e.g. {\"status\":{\"_eq\":\"active\"}})"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum items to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of navigation menus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/globals": {
      "get": {
        "operationId": "listGlobals",
        "summary": "List global settings",
        "description": "List global site settings (branding, SEO, social links).",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names to return (e.g. id,name,status)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of global settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "social_links": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "og_image": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "OPS Proxy API key (same key as Agent Data)"
      }
    }
  }
}
