{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent Data API",
    "description": "Knowledge management for Incomex AI system",
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://vps.incomexsaigoncorp.vn/api"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check service health status",
        "description": "Returns overall health, per-service status (qdrant, firestore, openai), and data integrity metrics.",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kb/list": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List all knowledge documents",
        "description": "Returns all non-deleted documents from Firestore. Optionally filter by path prefix.",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "description": "Filter documents by path prefix, e.g. 'knowledge/dev/'",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kb/get/{doc_id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a single document by ID",
        "description": "Returns full content and metadata for a document. The doc_id is a path like 'knowledge/dev/blueprints/architecture-decisions.md'.",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "description": "Document ID path, e.g. 'knowledge/dev/blueprints/architecture-decisions.md'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document with full content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentGetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documents": {
      "post": {
        "operationId": "createDocument",
        "summary": "Create or update a document",
        "description": "Creates a new knowledge document. Use query param upsert=true to update if it already exists.",
        "parameters": [
          {
            "name": "upsert",
            "in": "query",
            "required": false,
            "description": "If true, update existing document instead of returning an error",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/chat": {
      "post": {
        "operationId": "searchKnowledge",
        "summary": "Semantic search over knowledge base",
        "description": "Performs RAG-based semantic search using Qdrant vectors and OpenAI. Accepts 'query', 'text', or 'message' field (all equivalent). Returns an AI-generated response with source context.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with AI response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{doc_id}": {
      "get": {
        "operationId": "getDocumentTruncated",
        "summary": "Get a document with truncated content and related docs",
        "description": "Returns document content truncated to 500 chars by default. Use full=true for complete content. Optionally returns semantically related documents via vector search.",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "description": "Document ID path",
            "schema": { "type": "string" }
          },
          {
            "name": "full",
            "in": "query",
            "required": false,
            "description": "If true, return full content instead of truncated",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "If true, include related documents via vector search",
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "top_k",
            "in": "query",
            "required": false,
            "description": "Number of related documents to return",
            "schema": { "type": "integer", "default": 3, "minimum": 1, "maximum": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Document with optional truncation and related docs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DocumentTruncatedResponse" }
              }
            }
          },
          "404": { "description": "Document not found" }
        }
      },
      "patch": {
        "operationId": "patchDocument",
        "summary": "Apply a targeted string replacement",
        "description": "Replaces old_str with new_str in the document content. old_str must appear exactly once. Returns 409 if not found or ambiguous.",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "description": "Document ID path to patch",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document patched",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DocumentResponse" }
              }
            }
          },
          "404": { "description": "Document not found" },
          "409": { "description": "old_str not found or appears multiple times" }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "description": "Soft-deletes a document and removes its vectors from Qdrant. The doc_id is a path like 'knowledge/operations/test/file.md'.",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "description": "Document ID path to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documents/batch": {
      "post": {
        "operationId": "batchReadDocuments",
        "summary": "Read multiple documents in one call",
        "description": "Returns content for up to 20 documents. Content is truncated by default (500 chars). Use full=true for complete content.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BatchReadRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch read results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchReadResponse" }
              }
            }
          },
          "422": { "description": "Validation error (empty paths or exceeds max 20)" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "degraded", "unhealthy"],
            "description": "Overall service status"
          },
          "version": {
            "type": "string"
          },
          "langroid_available": {
            "type": "boolean"
          },
          "services": {
            "type": "object",
            "description": "Per-service health details (qdrant, firestore, openai)",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "status": { "type": "string" },
                "latency_ms": { "type": "number" },
                "last_error": { "type": ["string", "null"] }
              }
            }
          },
          "data_integrity": {
            "type": "object",
            "properties": {
              "document_count": { "type": "integer" },
              "vector_point_count": { "type": "integer" },
              "ratio": { "type": "number" },
              "sync_status": { "type": "string" }
            }
          }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document_id": { "type": "string" },
                "parent_id": { "type": "string" },
                "title": { "type": "string" },
                "tags": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "revision": { "type": "integer" }
              }
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "DocumentGetResponse": {
        "type": "object",
        "properties": {
          "document_id": { "type": "string" },
          "content": {
            "type": "string",
            "description": "Markdown body of the document"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": { "type": "string" },
              "tags": {
                "type": "array",
                "items": { "type": "string" }
              },
              "source": { "type": "string" }
            }
          },
          "revision": { "type": "integer" }
        }
      },
      "DocumentCreate": {
        "type": "object",
        "required": ["document_id", "parent_id", "content", "metadata"],
        "properties": {
          "document_id": {
            "type": "string",
            "description": "Unique path ID, e.g. 'knowledge/dev/blueprints/my-doc.md'"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent path or 'root'"
          },
          "content": {
            "type": "object",
            "required": ["mime_type", "body"],
            "properties": {
              "mime_type": {
                "type": "string",
                "enum": ["text/markdown", "text/plain", "application/json"]
              },
              "body": {
                "type": "string",
                "description": "Document content"
              }
            }
          },
          "metadata": {
            "type": "object",
            "required": ["title"],
            "properties": {
              "title": { "type": "string" },
              "tags": {
                "type": "array",
                "items": { "type": "string" }
              },
              "source": { "type": "string" }
            }
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "status": { "type": "string" },
          "revision": { "type": "integer" }
        }
      },
      "DocumentTruncatedResponse": {
        "type": "object",
        "properties": {
          "document_id": { "type": "string" },
          "content": { "type": "string", "description": "Document content (truncated to 500 chars unless full=true)" },
          "content_length": { "type": "integer", "description": "Full content length in chars" },
          "truncated": { "type": "boolean" },
          "metadata": {
            "type": "object",
            "properties": {
              "title": { "type": "string" },
              "tags": { "type": "array", "items": { "type": "string" } }
            }
          },
          "revision": { "type": "integer" },
          "related": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "document_id": { "type": "string" },
                    "score": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      },
      "PatchRequest": {
        "type": "object",
        "required": ["old_str", "new_str"],
        "properties": {
          "old_str": { "type": "string", "description": "Exact string to find (must appear exactly once)" },
          "new_str": { "type": "string", "description": "Replacement string" }
        }
      },
      "BatchReadRequest": {
        "type": "object",
        "required": ["paths"],
        "properties": {
          "paths": {
            "type": "array",
            "items": { "type": "string" },
            "minItems": 1,
            "maxItems": 20,
            "description": "Document paths to read"
          },
          "full": {
            "type": "boolean",
            "default": false,
            "description": "If true, return full content instead of truncated"
          }
        }
      },
      "BatchReadResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document_id": { "type": "string" },
                "content": { "type": "string" },
                "truncated": { "type": "boolean" },
                "content_length": { "type": "integer" },
                "metadata": { "type": "object" },
                "revision": { "type": "integer" },
                "error": { "type": "string", "description": "Set to 'not_found' if document doesn't exist" }
              }
            }
          },
          "count": { "type": "integer" }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query in natural language"
          },
          "top_k": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 20,
            "description": "Number of results to return"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "AI-generated answer based on knowledge base"
          },
          "context": {
            "type": "array",
            "description": "Source documents used for the answer",
            "items": {
              "type": "object",
              "properties": {
                "document_id": { "type": "string" },
                "excerpt": { "type": "string" },
                "score": { "type": "number" }
              }
            }
          }
        }
      }
    }
  }
}
