{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent Data API",
    "description": "Knowledge management for Incomex AI system",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://vps.incomexsaigoncorp.vn/api"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check service health status",
        "description": "Returns overall health, per-service status (qdrant, firestore, openai), and data integrity metrics.",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kb/list": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List all knowledge documents",
        "description": "Returns all non-deleted documents from Firestore. Optionally filter by path prefix.",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "description": "Filter documents by path prefix, e.g. 'knowledge/dev/'",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kb/get/{doc_id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a single document by ID",
        "description": "Returns full content and metadata for a document. The doc_id is a path like 'knowledge/dev/blueprints/architecture-decisions.md'.",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "description": "Document ID path, e.g. 'knowledge/dev/blueprints/architecture-decisions.md'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document with full content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentGetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documents": {
      "post": {
        "operationId": "createDocument",
        "summary": "Create or update a document",
        "description": "Creates a new knowledge document. Use query param upsert=true to update if it already exists.",
        "parameters": [
          {
            "name": "upsert",
            "in": "query",
            "required": false,
            "description": "If true, update existing document instead of returning an error",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/chat": {
      "post": {
        "operationId": "searchKnowledge",
        "summary": "Semantic search over knowledge base",
        "description": "Performs RAG-based semantic search using Qdrant vectors and OpenAI. Accepts 'query', 'text', or 'message' field (all equivalent). Returns an AI-generated response with source context.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with AI response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{doc_id}": {
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "description": "Soft-deletes a document and removes its vectors from Qdrant. The doc_id is a path like 'knowledge/operations/test/file.md'.",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "description": "Document ID path to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "degraded", "unhealthy"],
            "description": "Overall service status"
          },
          "version": {
            "type": "string"
          },
          "langroid_available": {
            "type": "boolean"
          },
          "services": {
            "type": "object",
            "description": "Per-service health details (qdrant, firestore, openai)",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "status": { "type": "string" },
                "latency_ms": { "type": "number" },
                "last_error": { "type": ["string", "null"] }
              }
            }
          },
          "data_integrity": {
            "type": "object",
            "properties": {
              "document_count": { "type": "integer" },
              "vector_point_count": { "type": "integer" },
              "ratio": { "type": "number" },
              "sync_status": { "type": "string" }
            }
          }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document_id": { "type": "string" },
                "parent_id": { "type": "string" },
                "title": { "type": "string" },
                "tags": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "revision": { "type": "integer" }
              }
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "DocumentGetResponse": {
        "type": "object",
        "properties": {
          "document_id": { "type": "string" },
          "content": {
            "type": "string",
            "description": "Markdown body of the document"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": { "type": "string" },
              "tags": {
                "type": "array",
                "items": { "type": "string" }
              },
              "source": { "type": "string" }
            }
          },
          "revision": { "type": "integer" }
        }
      },
      "DocumentCreate": {
        "type": "object",
        "required": ["document_id", "parent_id", "content", "metadata"],
        "properties": {
          "document_id": {
            "type": "string",
            "description": "Unique path ID, e.g. 'knowledge/dev/blueprints/my-doc.md'"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent path or 'root'"
          },
          "content": {
            "type": "object",
            "required": ["mime_type", "body"],
            "properties": {
              "mime_type": {
                "type": "string",
                "enum": ["text/markdown", "text/plain", "application/json"]
              },
              "body": {
                "type": "string",
                "description": "Document content"
              }
            }
          },
          "metadata": {
            "type": "object",
            "required": ["title"],
            "properties": {
              "title": { "type": "string" },
              "tags": {
                "type": "array",
                "items": { "type": "string" }
              },
              "source": { "type": "string" }
            }
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "status": { "type": "string" },
          "revision": { "type": "integer" }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query in natural language"
          },
          "top_k": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 20,
            "description": "Number of results to return"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "AI-generated answer based on knowledge base"
          },
          "context": {
            "type": "array",
            "description": "Source documents used for the answer",
            "items": {
              "type": "object",
              "properties": {
                "document_id": { "type": "string" },
                "excerpt": { "type": "string" },
                "score": { "type": "number" }
              }
            }
          }
        }
      }
    }
  }
}
